/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #333333; /* Dark Gray */
  color: #f9f871; /* Lemon Yellow for text */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: #6c80f0; /* Sunset Yellow for titles */
}

p {
  color: #65df4c; /* Light text for general content */
}

a {
  color: #a46877;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #e08976; /* Soft Coral on hover */
}

button {
  background-color: #a46877; /* Muted Rose for buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e08976; /* Soft Coral on hover */
}

button:focus {
  outline: none;
}

input[type="range"] {
  width: 100%;
  margin: 20px 0;
}

/* Header */
header {
  background: url('https://oceancolor.gsfc.nasa.gov/gallery/feature/images/PACE_OCI_2024090620240906_PACE_validation_in_California_sm.png'); 
  background-position: center;
  padding: 20px;
}

header ul {
  background-color: rgba(0, 0, 0, 0.5);
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

header ul li {
  margin: 0 15px;
}

header a {
  font-size: 1.2rem;
  color: #f9f871; /* Lemon Yellow for navigation links */
}

header a:hover {
  color: #ffba6a; /* Sunset Yellow on hover */
}

/* Home Page */
.home {
  text-align: center;
  padding: 50px 20px;
  background-color: #333333; /* Dark Gray */
}

.sections button {
  margin: 15px;
  background-color: #40d4af; /* Muted Rose */
  color: white;
}

.sections button:hover {
  background-color: #e08976; /* Soft Coral */
}

/* Footer */
footer {
  background: url('https://oceancolor.gsfc.nasa.gov/gallery/feature/images/PACE_OCI_2024090620240906_PACE_validation_in_California_sm.png'); 
  background-position: center;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
}

/* Section Page */
section {
  background-color: #333333; /* Dark Gray */
  padding: 40px;
  text-align: center;
}

section img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

section img:hover {
  transform: scale(1.05);
}

/* Simulator */
.simulator {
  background-color: #634f5f; /* Plum Purple */
  padding: 30px;
  margin: 20px auto;
  border-radius: 10px;
  color: white;
  width: 80%;
}

.simulator input[type="range"] {
  background-color: #ffba6a; /* Slider in Sunset Yellow */
  height: 8px;
  cursor: pointer;
}

.simulator input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e08976; /* Thumb in Soft Coral */
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.simulator p {
  color: #f9f871; /* Lemon Yellow for text */
}

/*Quiz*/

.quiz {
  background-color: #333333; /* Background similar to the rest of the app */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #f9f871; /* Lemon Yellow for text */
}

.question-section {
  margin: 20px 0;
}

.options button {
  background-color: #a46877; /* Muted Rose for buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.options button:hover {
  background-color: #e08976; /* Soft Coral on hover */
}

.options button.selected {
  background-color: #ffba6a; /* Sunset Yellow for selected answer */
}

.explanation {
  margin-top: 15px;
  color: #ffba6a; /* Sunset Yellow for explanation text */
}

.result {
  background-color: #634f5f; /* Plum Purple for result section */
  padding: 30px;
  border-radius: 10px;
}

.result h2 {
  color: #ffba6a;
}

.result button {
  background-color: #a46877;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.result button:hover {
  background-color: #e08976;
}

